*{
    margin: 0;
    padding: 0;
}
.header{

width: 100vw;
height: 100px;
justify-content: center;
align-items: center;
display: flex;
background-color: #1a69c4;
}
.menubar{
    margin-left: 30%;
    display: flex;
    left: 500px;
    width: 60vw;
    
    border: solid 2px black;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 17px;


}
.bmi{
    height: 400px;
    width: 400px;
    border: solid 3px black;
    background-color: rgb(167, 254, 255);
}
.headingbmi{
    width: 400px;
    height: 80px;
    border: solid black 3px;
    font-size: 50px;
    color: rgb(33, 199, 205);
}
.height,.weight,.age,.gender,.calculate{
    width: 400px;
    height: 62px;
    border: solid 1px black;
    display: flex;
    color: #1668c6;
    border-radius: 2px;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
    

}
.input-age,.input-gender,.input-height,.input-weight{
    height: 30px;
    width: 20;
    background-color: rgb(238, 241, 243);
    border-radius: 2px;
   
    
}

.result{
    width: 500px;
    height: 400px;
    border: solid rgb(8, 7, 7) 2px;

}
.container{
    display: flex;
    height: 400px;
    border: solid rgb(1, 1, 1) 2px;
    background-color: rgb(77, 213, 223);
    color: rgb(67, 80, 176);
}

#caluu{
    width: 150px;
    background-color: rgb(53, 53, 203);
    color: white;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 25px;
    

}
#calculate{
display: flex;
    justify-content: center;
    align-items: center;

}
#caluu:hover{
opacity: 0.4;
}
#caluu:active{
    background-color:white ;
    color: blue;
}
