*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    
}
.header{

width: 100%;
height: 100px;
justify-content: center;
align-items: center;
display: flex;
background-color: #1a69c4;
}
.logo{
    width: 100px;
    height: 100px;
}
.header h3{
    font-family: cursive;
    color: white;
    font-size: 30px;
    margin-left: 5%;
}
.menubar{
    margin-left: 10%;
    display: flex;
    left: 500px;
    width: 60vw;
    
    
    justify-content: space-between;

    font-size: 17px;
    


}
.home,.aboutus,.contact,.services{
    border: black 2px solid;
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    
}
nav ul li a:hover{
    color: yellow;
    font-size: 20px;
}
.menu{
    width: 40px;
    height: 40px;
    display: none;
    margin-left: 60%;


}
.quotebar{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.quote{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}
.bmi{
    height: 400px;
    width: 33%;
    
    background-color: rgb(236, 228, 162);
    justify-items: center ;
}
.b1{
    width: 100%;
    height: 70px;
    
    
    
    
    text-align: center;

}
.b1 h2{
    color: darkblue;
    font-size: 40px;
    margin-top: 2%;
}
.height,.weight,.age,.gender,.calculate{
    width: 90%;
    height: 62px;
  
    display: flex;
    color: #000000;
    border-radius: 2px;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-top: solid grey 2px;

    
    

}
.input-age,.input-gender,.input-height,.input-weight{
    height: 40px;
    width: 80%;
    background-color: rgb(238, 241, 243);
    border: solid 2px grey;
    max-width: 200px;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;

   
    
}

.result{
    width: 33%;
    height: 400px;
    border-left: black solid 2px;
    
    background-color:#ffb5ee

}
.container{
    display: flex;
    height: 400px;
    
    background-color: rgb(255, 255, 255);
    color: rgb(67, 80, 176);
    width: 100%;
}

#caluu{
    width: 150px;
    background-color: rgb(53, 53, 203);
    color: white;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 25px;
    border: none;
    

}
#calculate{
display: flex;
    justify-content: center;
    align-items: center;

}
#caluu:hover{
opacity: 0.4;
}
#caluu:active{
    background-color:white ;
    color: blue;
}

.r1{
    display: flex;
    
}
.r1-title{
    color: red;
   font-size: 40px;
    margin-top: 20px;
    margin-left: 5%;
}
.bmi1{
    width: 300px;
    height: 300px;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
}
.r1 p{
    color: red;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 20px;
    
}
.r2{
    text-align: center;
    
}

.radio-m,.radio-f{
    height: 15px;
    width: 15px;
}
.news{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 400px;
    border: 1px solid black;
    
}
.n1{
    height: 50px;
    width: 100%;
    align-content: center;
    background-color: rgb(117, 230, 117);
}
.n2{
    height: 350px;
    width: 90%;
    justify-content:space-around ;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.news h4{
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 0px;
}
.exercise{
    width: 100%;
    height: 400px;
    border: solid 2px black;
    justify-items: center;

}
.exercise-heading{
    padding-top: 20pX;
    margin-bottom: 10px;
}
.exercise-heading h1{
    text-align: center;
}

.exercise-content{

    width: 90%;
    height: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.video{
    width: 100%;
    height: 80%;
    
    
    align-items: center;
    display: flex;
    flex-direction: column;
}
.video-container{
    width: 29%;
    height: 240px;
    
    display: flex;
    flex-direction: column;
    
}
.v1,.v2{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 1px 8px 8px rgb(157, 157, 157);
    

}
.vd-title{
    height: 30%;
    width: 100%;
    
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.vp-1   {
    display: none;
    box-shadow: 10px 10px 10px rgb(164, 164, 164);
}
.play-btn{
    position: absolute;
    width: 70px;
    cursor: pointer;
    margin-top: 50px;
    
}
.close{
    display: none;
    cursor: pointer;
}
.r4 p {
    color: black;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-left: 50px;
    padding-top: 20px;
}
.more_detail{
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    
}
.r3 .tip-heading{
    color: black;
    font-size: 35px;
    margin-left: 40px;
}
.r2 .remark{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif    ;
    font-weight: bold;
}
.r5{
    width: 100%;
    height: 50px;
    justify-items: center;
    align-content: center;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(27, 27, 27);
}
.copyright{
    justify-self: center;
    padding-top: 150px;
    
}
.footer .copyright p{
    color: white;

}
.n2 a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.images{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    border: solid black 3px;
    justify-content: center;
    align-items: center;
    gap: 30PX;
}
.i1,.i2{
    width: 600PX;
    height: 300px;
    
    display: flex;
    gap: 20%;
    
    justify-content: center;
    align-items: center;
}
.ns,.s,.r,.nm{
    width: 100%;
    height: 85%;
    margin-bottom: 5px;
    border-radius: 10px;

}
.nitish,.raman,.nikhil,.shreyash{
    width: 50%;
    height: 100%;
    
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


    

.cal-count{
    width: 100%;
    height: 400px;
    border: solid black 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.food-items{
    width: 50%;
    height: 90%;
   
    border: solid blue 5px;
    justify-items: center;
    align-content: center;
    overflow-x: auto;    
   

}

.calories{
    width: 100%;
    height: 80%;
    border: solid blue 4px;
    overflow-x: auto;
}
.foods{
    width: 90%;
    height: 95%;
    border: solid red 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f1,.f2,.f3,.f4,.f5,.f6,.f7{
    width: 97%;
    height: 160px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.fc{
    width: 140px;
    height: 170px;
    border: solid 2px rgb(0, 0, 0);
    

 
}
.fruit{
    width: 100%;
    height: 120px;
    
}
.add{
    display: flex;
    width: 100px;
    height: 20px;
    justify-content: space-between;
    align-content: center;
    
}
.c1{
    display: flex;
    justify-content: space-around;
    height: 30px;
}
.c1 p{
    font-size: 20px;
}
.calc-calories{
    width: 100%;
    height: 20%;
    border: solid green 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cal-2{
    width: 50%;
    height: 90%;
    border: solid brown 4px;
}
.clear{
    margin-left: 50px;
    background-color: red;
    color: white;
    border: none;
    width: 60px;
    height: 30px;
}
.clear:active{
    opacity: 0.3;
}
.totalcalory{
    margin-left: 30px;
}
.calorie-head{
        width: 100%;
        height: 50px;
        text-align: center;
        align-content: center;
}
.add p{
    font-size: 15px;
    padding-left: 10px;
    

}
.add button{
height: 20PX;
background-color: rgb(211, 255, 53);
color: rgb(255, 77, 0);
width: 40px;
border-radius: 2px;
border: none;
}
.add button:active{
    opacity: 0.5;
}


/* about_us body */ /* about_us body */ /* about_us body */
.about_body{
    background-color: rgb(255, 255, 204);
    justify-items: center;
    width: 100%;
}
.about-section{
    justify-items: center;
    font-size: 20px;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

.underweight,.overweight{
    width: 90%;
    height: 100vw;
   justify-self: center;
   margin-top: 20px;
   font-size: 18px;
}


.vid-play1,.vid-play2{
    width: 100%;
    
    border: solid 4px blue;
}   

/* .vp-2{ */
    /* display: none;
} */
/* about_us body */ /* about_us body */ /* about_us body */
@media only screen and (max-width: 708px){
    body{
        width: 100%;
    
        
        
    }

    .header h3{
        font-size: 20px;
    }
    .menubar a{
        font-size: 15px;
    }
    .container{
        flex-direction: column;
        
        width: 100%;
        height: 1200px;
        
    }
    .bmi{
        width: 100%;
    }
    .header{
        width: 100%;
        
    }
    .bmiheading{
        width: 100%;
    }
    .menubar{
        width: 100%;
        
        justify-content: space-between;
        margin-left: 10%;
    }
    .about-section{
        width: 100%;
    }
    .bmi,.result,.news{
        width: 100%;
    }
    .n2{
        width: 350px;
    }
    
    .menu{
        display: block;
    }
    
    nav ul{
        top: 100px;
        flex-direction: column;
        text-align: center;
        
        align-items: center;
        position: absolute;
        background-color: #1a69c4;
        left: 0;
        right: 0;
        transition: all 0.3s;
        overflow: hidden;
        
    }

    .home,.aboutus,.contact,.services{
        border: black 1px solid;
        width: 100%;
        height: 40px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .images{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        border: solid black 3px;
        justify-content: center;
        align-items: center;
        gap: 30PX;
    }
    .i1,.i2{
        width: 320PX;
        height: fit-content;
        
        display: flex;
        
        
        justify-content: center;
        align-items: center;
    }
    .ns,.s,.r,.nm{
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
        
    
    }
    .nitish,.raman,.nikhil,.shreyash{
        width: 60%;
        height: 80%;
        
        align-content: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .nm-info p{
        font-size: 12px;
    }
    .nm-info h5{
        font-size: 15px;
    }
    .exercise{
        width: 100%;
        
        height: 800px;
        border: solid 2px rgb(232, 0, 0);
        justify-items: center;
    
    }
    .exercise-content{

        width: 90%;
        height: 700px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    .video{
        width: 100%;
        height: 80%;
        
        justify-content: center;
        align-items: center;
        display: flex;
       
    }
    .video-container{
        width: 80%;
        height: 220px;
    }

    .play-btn{
        position: absolute;
        width: 70px;
        margin-top: 3px;
    }
    .v1,.v2{
        height: 100%;
    }
    .cal-count{
        height: fit-content;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .food-items,.cal-2{
        width: 100%;
    }
    

    .fc{
        width: 25%;
        height: 140px;
        
        
    
     
    }
    .fruit{
        height: 100px;
    }
    .add p{
        font-size: 10px;
    
    }
    .add button{
        width: 30px;
        font-size: 12px;
    }
    .add{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
    .food-items{
        height: 300px;
    }
    
    
}   
